* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.nav-menu {
  display: flex;
  justify-content: end;
  background-image: url("images/figures-small1.png");
  background-repeat: no-repeat;
  height: 100px;
}

.menu-button {
  border: none;
  font-size: 1.5em;
  margin: 19px 5%;
  color: #1a2236;
  background-color: transparent;
  cursor: pointer;
}

main {
  height: fit-content;
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.headline-container {
  margin: 0 5%;
}

.section-header h1 {
  color: #1a2236;
  font-family: 'Playfair Display', serif;
  font-size: 3.8em;
  line-height: 1.2em;
  font-weight: 400;
  margin: 32px 0;
}

.presentation-container {
  margin-top: 16px;
}

.descriptive-p {
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
}

.collab-button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #1a2236;
  margin: 30px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.collab-button:hover {
  background-color: #1a2236e1;
}

.background-separator {
  height: 150px;
  background-image: url("images/figures-big1.png");
}

/* Work section  */

.work-section-grid {
  display: grid;
  grid-template-columns: auto;
}

.project-container {
  background-color: #1a2236;
}

.project-image {
  width: 100%;
}

.project-name {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  margin: 1.1em 5%;
}

.languages-list {
  display: flex;
  list-style: none;
  margin: 1.1em 5%;
}

.languages-list li {
  margin-right: 10px;
  padding: 6px 10px;
  background-color: #98dede;
  border-radius: 0;
  color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: 300;
}

.see-this-project-button {
  border: rgba(255, 255, 255, 0.672) solid 2px;
  border-radius: 3px;
  color: white;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 70%;
  padding: 10px;
  margin: 1.1em 5%;
  margin-bottom: 2.2em;
}

.fa-arrow-right {
  margin-left: 5px;
}

/* About section */

.about-container {
  margin: 0 5%;
}

.cv-button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #1a2236;
  margin: 30px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.color-box-container {
  color: white;
  height: 289px;
  margin: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

.languages-container {
  background-color: #1c528a;
  background-image: url(images/languages-corner-image.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.frameworks-container {
  background-color: #e2505c;
  background-image: url(images/frameworks-corner-image.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.skill-container {
  background-color: #febf52;
  background-image: url(images/skills-corner-image.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.title-about-content {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.about-content-list {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  list-style-position: inside;
}

/* Get started section */

.get-started-section {
  margin: 0 5%;
}

.get-started-header {
  font-size: 0.9em;
}

.get-started-form {
  margin: 35px 0;
}

.form-text-box {
  height: 50px;
  margin-bottom: 8px;
  border: #1a2236 solid 1px;
  border-radius: 5px;
  padding: 16px;
  width: 100%;
}

.form-text-box::placeholder {
  transform: translateY(-13px);
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}

.comment-box {
  height: fit-content;
  min-height: 150px;
  border: #1a2236 solid 1px;
  border-radius: 5px;
  padding: 16px;
  width: 100%;
}

.comment-box::placeholder {
  transform: translateY(-50px);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.get-started-button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #1a2236;
  margin-bottom: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

/* Social Media Section */

.social-media-container {
  background-color: #1a2236;
  padding: 25px 0;
}

.get-resume-button {
  border: none;
  background-color: transparent;
  margin: 25px 5% 35px 5%;
  color: #92dcdc;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.fa-arrow-up-right-from-square {
  margin-left: 15px;
  font-size: 20px;
}

.social-media-list {
  display: flex;
  list-style: none;
  font-size: 25px;
  justify-content: space-between;
  color: white;
  margin: 0 5%;
  padding-bottom: 25px;
}
