* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  background-image: url("images/figures-small1.png") none;
}

.menu-button {
  border: none;
  font-size: 1.5em;
  margin: 19px 16px;
  color: #1a2236;
  background-color: transparent;
  cursor: pointer;
}

main {
  height: fit-content;
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.name-container {
  height: fit-content;
}

.name-container h1 {
  color: #1a2236;
  font-family: 'Playfair Display', serif;
  font-size: 3.8em;
  line-height: 1.2em;
  font-weight: 400;
}

.presentation-container {
  margin-top: 16px;
}

.presentation-container p {
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
}

.collab-button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #1a2236;
  margin: 30px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.collab-button:hover {
  background-color: #1a2236e1;
}

.background-separator {
  height: 150px;
  background-image: url("images/figures-big1.png");
}
