* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

/* NAVBAR */

header {
  background-color: #262626;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar li {
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: #262626;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  left: 0;
}

/* MAIN */

main {
  margin-top: 120px;
}

h1,
h2 {
  color: #1a2236;
  font-family: 'Playfair Display', serif;
  font-size: 3.8em;
  line-height: 1.2em;
  font-weight: 400;
  margin: 32px 0;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #1a2236;
}

label {
  display: none;
}

.section-info-container {
  margin: 32px 5%;
}

.collab-button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #1a2236;
  margin: 30px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  border: none;
  background-color: #1a2236;
  margin: 30px 0;
  cursor: pointer;
  transition: 1s;
}

footer a {
  border: none;
  background-color: transparent;
  margin: 25px 5% 35px 5%;
  color: #92dcdc;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.link-box a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.link-box:hover {
  background-color: #1a2236e1;
  font-size: 1.2rem;
}

.background-separator {
  height: 150px;
  background-image: url("images/figures-big1.png");
}

/* Work section  */

.project-container {
  background-color: #1a2236;
  padding-bottom: 32px;
}

.project-container img {
  display: block;
  width: 100%;
}

.project-container h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  margin: 14px 5%;
}

footer ul {
  display: flex;
  list-style: none;
  font-size: 25px;
  justify-content: space-between;
  color: white;
  margin: 14px 5% 0 5%;
}

.project-container ul {
  display: flex;
  list-style: none;
  margin: 32px 5%;
}

.project-container li {
  margin-right: 10px;
  padding: 6px 10px;
  background-color: #98dede;
  border-radius: 0;
  color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: 300;
}

.project-container a {
  border: rgba(255, 255, 255, 0.672) solid 2px;
  border-radius: 3px;
  color: white;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  width: 70%;
  padding: 10px;
  margin: 0 5%;
  margin-bottom: 2.2em;
  transition: 1s;
}

.project-container a:hover {
  border: #98dede solid 2px;
  color: #98dede;
  box-shadow: 0 0 10px 2px #98dedeb1;
}

.fa-arrow-right {
  margin-left: 5px;
}

/* About section */

.cv-button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #1a2236;
  margin: 30px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.color-box-container {
  color: white;
  height: 290px;
  margin: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

.color-box-container h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.languages-container {
  background-color: #1c528a;
  background-image: url(images/languages-corner-image.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.frameworks-container {
  background-color: #e2505c;
  background-image: url(images/frameworks-corner-image.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.skill-container {
  background-color: #febf52;
  background-image: url(images/skills-corner-image.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.color-box-container ul {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  list-style-position: inside;
}

/* Get started section */

.section-info-container form {
  margin: 35px auto;
  max-width: 768px;
}

.text-box {
  height: 50px;
  margin-bottom: 8px;
  border: #060707 solid 1px;
  border-radius: 5px;
  padding: 16px;
  width: 100%;
}

.text-box::placeholder {
  transform: translateY(-13px);
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}

textarea {
  height: fit-content;
  min-height: 150px;
  border: #1a2236 solid 1px;
  border-radius: 5px;
  padding: 16px;
  width: 100%;
  margin-bottom: 8px;
  resize: none;
}

textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.get-started-button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #1a2236;
  margin-bottom: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: 2s;
}

.get-started-button:hover {
  background-color: #1a2236e1;
  font-size: 1.5em;
}

/* Social Media Section */

footer {
  background-color: #1a2236;
  width: 100%;
  padding: 24px 0;
}

.fa-arrow-up-right-from-square {
  margin-left: 15px;
  font-size: 20px;
}

@media only screen and (min-width: 1440px) {

  header {
    min-height: 100px;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 100px;
    left: 0;
    top: 20px;
  }

  


  main {
    width: 1440px;
    margin: auto;
  }

  footer ul {
    margin: 0 100px;
    padding: 0;
  }

  footer a {
    margin: 0 100px;
    padding: 0;
  }

  h1,
  h2 {
    font-size: 110px;
  }

  .section-info-container {
    display: block;
    flex-direction: column;
    align-items: flex-start;
  }

  .headline-section-container {
    display: flex;
    margin: 100px 0 0 0;
    padding: 0;
  }

  .headline-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 877px;
    padding: 90px 90px 260px 160px;
    margin: 0;
    background-image: url(/images/image-dots.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .link-box {
    height: 70px;
    width: 254px;
    padding: 30px;
    font-size: 18px;
  }

  .background-headline-container {
    width: 702px;
    background-image: url(images/headline-section-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .background-separator {
    display: none;
  }

  /* work section */

  .project-container {
    background-color: transparent;
    padding-bottom: 0;
    position: relative;
  }

  .single-project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    color: #1a2236;
  }

  footer li {
    margin: 0 10px;
  }

  .single-project-info li {
    margin-bottom: 18px;
  }

  .project-container:hover .single-project-info {
    display: block;
    background-color: #1a2236d1;
  }

  .work-section-container {
    margin: 210px 0 0 0;
    padding: 0;
  }

  .container-1 {
    display: flex;
    height: 558;
  }

  .project-section-title {
    width: 480px;
    height: auto;
    padding: 0;
    margin: 0;
    background-image: url(images/image-dots.png);
    background-position: 105% 0%;
    background-repeat: no-repeat;
  }

  .project-section-title h2 {
    transform: rotate(-90deg) translateX(-90px) translateY(-40px);
    margin: 0;
    padding: 0;
  }

  .project-1 {
    padding: 0;
    margin: 0;
    height: auto;
    width: 960px;
  }

  .project-1 h2 {
    font-size: 2.5em;
  }

  .project-1 li {
    font-size: 16px;
  }

  .container-2 {
    width: 100%;
    height: 815px;
    display: flex;
  }

  .group-2-3 {
    width: 975px;
    padding-top: 80px;
    background-image: url(images/image-geometry-2.png), url(images/figure-red.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 0%, 100% 100%;
  }

  .group-4-5 {
    width: 465px;
    background-image: url(images/image-geometry-3.png);
    background-repeat: no-repeat;
    background-position: 100% 85.4%;
  }

  .project-2 {
    width: 465px;
  }

  .project-3 {
    width: 778px;
  }

  .container-3 {
    background-image: url(images/figure-yellow.png), url(images/image-geometry-4.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 52.5% 0%, 0% 0%;
  }

  .project-6 {
    margin-left: 799px;
    width: 465px;
    height: auto;
  }

  /* about section */

  .about-section-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5%;
    margin: 0;
  }

  .about-info-contaiener {
    margin: 0;
    width: 50%;
    padding-right: 80px;
  }

  .color-box-container {
    margin: 0;
  }

  .about-boxes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    width: 578px;
    background-image: url(images/image_dots-with-teal.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  /* info section */

  .get-started-section-container {
    width: 100%;
    background-image: url(images/image-geometry-6.png), url(images/image-geometry-7.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 0%, 100% 100%;
    padding: 100px;
    margin-top: 100px;
  }

  .get-started-section-container .section-info-container {
    width: 621px;
    margin: auto;
  }

  form label {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #7d7c84;
  }

  .text-box::placeholder {
    color: white;
  }

  textarea::placeholder {
    color: white;
  }

  .inputs-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .user-email-container {
    display: flex;
    flex-direction: column;
  }

  .inputs-container input {
    width: 253px;
    margin: 0;
  }

  .get-started-button {
    height: 70px;
    width: 50%;
    border: none;
    background-color: #1a2236;
    margin: 32px 130px;
    font-size: 18px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
}
